input.ng-invalid{
    background-color: rgb(238, 131, 131);
}
.error-message{
    color:red;
    font-style: italic;
    font-size: 0.8em;
    &.error-hidden{
        visibility: hidden;
    }
}

.bg{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(240, 248, 255, 0.685);
    box-shadow: 0 0 5px 10px rgba(240, 248, 255, 0.685);
}
