nav {
    background-color: rgba(40, 40, 255, 0.658);
    .navbar-brand { color: #ffffff;}
    padding-top: 40px;
    padding-bottom: 40px;
    

}

.item{
    
}
.item:hover {
    background-color: rgba(64, 64, 248, 0.658);
}