<div class="bg">
<div *ngIf="(vehicleList$ | async)?.length; else elseBlock">
    <h6 class="text-center " style="margin-top: 40px">
        The list below contains all registered vehicles in our database. The items are ordered by the expiration date of the technical exam.
    </h6>
    <p class="text-center " style="margin-top: 40px; margin-bottom: 100px">
      To edit the items, you can click on the blue button with pencil icon, but if
      you want to delete an item click on the red button.
    </p>
  </div>
  <ng-template #elseBlock>There are no records in the database.</ng-template>
<ul class="list-group">
    <div *ngIf="(vehicleList$ | async)?.length; else elseBlock"></div>
        <li *ngFor="let vehicle of vehicleList$ | async" class="list-group-item opbg">
            <div *ngIf="vehicle.expiration_date - currentTimestamp$ < 2801920000" >
            <i class="fa fa-warning"></i>
           ID: {{ vehicle.id }} - VIN: {{ vehicle.vin }} 
           <p style="color: rgb(156, 65, 49);"><strong> Expire date: {{vehicle.expiration_date | date:'yyyy.MM.dd.'}} The exam will expire soon or it's expired. Please note the date!  </strong></p>
            <div class="btn-group-vertical" style=" position: absolute; top: 2.5px; right: 10px;">
                <button [routerLink]="['/', 'list', 'vehicle', 'edit', vehicle.id]" class="btn btn-outline-primary">
                    <i class="fa fa-pencil"></i>
                </button>
                <button (click)="onRemoveVehicle(vehicle)"  class="btn btn-outline-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            </div>
            <div *ngIf="vehicle.expiration_date - currentTimestamp$ > 2801920000">
                <i class="fa fa-car"></i>
               ID: {{ vehicle.id }} - VIN: {{ vehicle.vin }} - Expire date: {{vehicle.expiration_date | date:'yyyy.MM.dd.'}}
                <div class="btn-group" style="float: right">
                    <button [routerLink]="['/', 'list', 'vehicle', 'edit', vehicle.id]" class="btn btn-outline-primary">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button (click)="onRemoveVehicle(vehicle)"  class="btn btn-outline-danger">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </li>

        
    <ng-template #elseBlock>There are no records in the database.</ng-template>
  </ul></div>