.opbg{
    background-color: rgba(110, 220, 253, 0.6);
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}


.opbgred:hover{
    background-color: rgba(241, 115, 83, 0.61);
    box-shadow: 0 0 5px 10px rgba(250, 152, 127, 0.911);
}

.bg{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(240, 248, 255, 0.685);
    box-shadow: 0 0 5px 10px rgba(240, 248, 255, 0.685);
}

.opbg:hover {
    background-color: rgba(213, 232, 248, 0.685);
}


.bg:hover {
    background-color: rgba(235, 250, 255, 0.685);
}